@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 0px !important;
  }

  body {
    background-color: #09090b;
    color: #f4f4f5;
    overflow-x: hidden;
  }
}

/* Custom Sharp Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #121215;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

/* Industrial Grid Background */
.bg-grid-pattern {
  background-size: 24px 24px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}
